.form-control{      
    text-align: left;      
 
    color: black;      
    border-color: black;      
    border-radius: 1px;   
    font-size: 14px;   
    font-family: system-ui;
}      
.btn-btn-primary{      
    text-align: center;      
    border-radius: 6px;      
    background-color: #1976d2;      
    width: 80px;      
    height:30px;      
    border-style: hidden;      
    color: white;      
}      
input.ng-invalid.ng-touched{      
    border-color: red;      
}      
.text{      
    text-align: center;      
    font-size: x-large;
    font-size: 14px;  
    font-family: system-ui;    
}      
.container{      
    text-align: left;   
    font-size: 14px; 
    font-style: normal;   
    font-family: system-ui;
   max-width: 1200px;

} 

.row {
    /* margin-right: -15px; */
    margin-left: -15px;
    padding-top: 45px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 45px;
}