
<!-- <div class="row"> -->
  <div class="span12" style="border: 1px solid blue">
    <table class="table table-striped table-hover">
      <thead>
  
        <tr>

          <th>Flight Number</th>
          <!-- <th>Intrument_Used</th> -->
          <th>From Place</th>
          <th>To Place</th>
          <th>Air Line</th>
          <th>Price</th>
          <th>Departure Date & Time</th>
          <th>End Date Time</th>
          <th>No Of Rows</th>
          <th>Scheduled Days</th>
          <!-- 
          <th>EndDateTime</th>
          <th>TotalBusinessClassSeats</th>
          <th>TotalNonBusinessClassSeats</th>

          <th>NoOfRows</th>
          <th>MealType</th>
          <th>ScheduledDays</th>
           -->
   
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of flights">
          <td>{{item.flightNumber}}</td>
         <!-- <td>{{item.Intrument_Used}}</td> -->
          <td>{{item.from_Place}}</td>
          <td>{{item.to_Place}}</td>
          <td>{{item.airLine}}</td>
          <td>{{item.price}}</td>
          <td>{{item.startDateTime}}</td>
          <td>{{item.endDateTime}}</td>
          <td>{{item.noOfRows}}</td>
          <td>{{item.scheduledDays}}</td>
          <td><span class="btn btn-warning" (click)="Edit(item)">Edit</span></td>
          <td><span class="btn btn-danger" (click)="Delete(item)">Delete</span></td>
          
          <!-- 
          
          <td>{{item.TotalBusinessClassSeats}}</td>
          <td>{{item.TotalNonBusinessClassSeats}}</td>

          <td>{{item.NoOfRows}}</td>
          <td>{{item.MealType}}</td>
          <td>{{item.ScheduledDays}}</td>
          <td>{{item.price}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <!-- </div> -->
  
  