 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
<nav class="navbar navbar-findcond navbar-fixed-top" >
    <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" style="font-size: 13px;
      font-weight: 400" ><h3 style="font-weight: 900; color: whitesmoke;">FLIGHT BOOKING SERVICES</h3></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/user-dashboard/search-flight']">VIEW FLIGHTS</a></li>
        	<li><a [routerLink]="['/user-dashboard/get-flight']">BOOK TICKET</a></li>

			
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{uname}} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
          <li><a [routerLink]="['/user-dashboard/my-bookings']">MY BOOKINGS</a></li>
    
						<li><a [routerLink]="['/loginnew']">LOG OUT</a></li>			
	</ul>
				</li>
			</ul>
			<!-- <form class="navbar-form navbar-right search-form" role="search">
				<input type="text" class="form-control" placeholder="Search" />
			</form> -->
		</div>
	</div>
</nav>
</div>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">

    <!-- Icon Cards-->
    <router-outlet></router-outlet>
      

  </div>
</div>
</div>
<!-- <div class="container">
    <h4 class="text-success" style="text-align-last: right;">Welcome: {{uname}}
      <br>
    <button style="text-align-last: right;" class="btn btn-primary" on-click='LogOut()'>Logout</button>
    <nav class="navbar navbar-expand-bg navbar-dark fixed-top">
      <ul>
       <li><a style="text-decoration-color:lime; text-align:center;font-size: large;" [routerLink]="['/user-dashboard/search-flight']" routerLinkActive="router-link-active">Search Flight</a></li>
              <li><a style="text-decoration-color:lime; text-align:center;font-size: large;" [routerLink]="['/user-dashboard/get-flight']" routerLinkActive="router-link-active">Book</a></li>
       <li><a style="text-decoration-color:lime; text-align:center;font-size: large;" [routerLink]="['/user-dashboard/cancel-ticket']" routerLinkActive="router-link-active">Cancel Ticket</a></li>
       <li><a style="text-decoration-color:lime; text-align:center;font-size: large;" [routerLink]="['/user-dashboard/my-bookings']" routerLinkActive="router-link-active">My Bookings</a></li>

      </ul>
    </nav>
  </h4>
    <router-outlet></router-outlet>
  </div> -->
  
  
