
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<!-- <link rel="stylesheet" href="./style.css"> -->

</head>

<body>
<!-- partial:index.partial.html -->

<div id="login-form-wrap">
    <div class="span9" style="border: 1px solid black">
  <h3>DocuSign Indemnity Details</h3>

  <h6 style="text-align: left;">Is the Principle/Account an Entity(e.g., Corporation,LLC,LLP)?</h6>
  <div class="row">
  <div class="col-xs-6">
    <select class="form-control" style="margin: 9px;"   name="role">
        <option value="Admin"></option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
    
   </div>
  </div>

   <h4>Individual Indemnitors</h4>

 
    <div class="row">
        <div  class="col-xs-5">
        <h4>Name: Santhosh</h4>
            <label for="email" style="font-size: 12px; text-align: left;">Email:</label>
            <input type="text" class="form-control">
        </div>    
        <div  class="col-xs-5">
            <h4>Name: Kumar</h4>
            <label for="email" style="font-size: 12px; text-align: left;">Email:</label>
            <input type="text" class="form-control">
        </div>   
      
      </div>


      <form id="login-form">
        <input type="submit" style="background-color: white; color: blue;" id="login" value="CANCEL">
    <input type="submit"  id="login" value="SAVE">
   

    <button mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button>
  </form>

</div>
</div>
</body>

</html>
