<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" >FLIGHT BOOKING SERVICES</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-centre">
       			
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{uname}} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a [routerLink]="['/loginnew']">Log out</a></li>			
	</ul>
				</li>
			</ul>
			<!-- <form class="navbar-form navbar-right search-form" role="search">
				<input type="text" class="form-control" placeholder="Search" />
			</form> -->
		</div>
	</div>
</nav>
<div class="container">
   
    <!-- <nav>
      <ul>
       <li style="align-items: center;"><a style="text-decoration-color:lime; text-align:center;font-size: large;" [routerLink]="['/admin-dashboard/add-flight']" routerLinkActive="router-link-active">Flight Management</a></li>
       <li style="text-decoration-color:lime; text-align:center;font-size: large;"><a [routerLink]="['/admin-dashboard/view-flight']" routerLinkActive="router-link-active">View Flights</a></li>

      </ul>
    </nav> -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <body>
      
      <!-- Navigation-->
       <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        
         <h4 style="color: #117cbb;font-weight: 900; text-align: center;">FLIGHT BOOKING SERVICES 
        
         <ul class="navbar-nav2 ml-auto">
          <li class="dropdown">
            
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #37642c;font-weight: 600; text-align: left;">Welcome {{uname}}</a>
              <ul class="dropdown-menu"style="align-items:left">
                  <!-- <li class="resflset"><a href="profile.php"><i class="fa fa-fw fa-cog"></i> Edit profile</a></li> -->
                  <li class="divider"></li>
                  <li class="resflset"><a [routerLink]="['/loginnew']"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
              </ul>
          </li>
        </ul>
      </h4>
       
      <!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"> -->
        
    
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav navbar-sidenav">
    
              <a class="nav-link navlogo text-center" href="index.php">
                <!-- <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620"> -->
                <img src="../../../assets/logo.png">
              </a>
    
            <!-- <li class="nav-item">
              <a class="nav-link sidefrst" [routerLink]="['/admin-dashboard/newform']">
                <span class="textside">  Dashboard</span>
              </a>
            </li> -->
    <br><br>
            <li class="nav-item">
              <a class="nav-link sidesecnd" [routerLink]="['/admin-dashboard/add-flight']">
                <span class="textside">   Add Flight</span>
              </a>
            </li>
            <br><br>
            <li class="nav-item">
              <a class="nav-link sidesthrd" [routerLink]="['/admin-dashboard/view-flight']">
                <span class="textside"> View Flights</span>
              </a>
            </li>
            <br><br>
            <!-- <li class="nav-item">
              <a class="nav-link sidesthrd" [routerLink]="['/user-dashboard/book-ticket']">
                <span class="textside"> Users</span>
              </a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link sidesforth" href="job.php">
                <span class="textside">  view</span>
              </a>
            </li> -->
      
        
          </ul>
          <!-- <h4 class="text-success" style="text-align-last : center;">FLIGHT BOOKING SERVICES   Welcome: {{uname}} -->
          <!-- <h4 class="text-success" style="text-align-last: right;">Welcome: {{uname}} -->
            <br>
          <!-- <button style="text-align-last: right;"class="btn btn-primary" on-click='LogOut()'>Logout</button></h4> -->
          <!-- <ul class="navbar-nav2 ml-auto">
            <li class="dropdown">
              
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #37642c;font-weight: 900; text-align: left;">Welcome WaLia</a>
                <ul class="dropdown-menu">
                    <li class="resflset"><a href="profile.php"><i class="fa fa-fw fa-cog"></i> Edit profile</a></li>
                    <li class="divider"></li>
                    <li class="resflset"><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
          </ul> -->
          
        </div>
      </nav>
    
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
    
          <!-- Icon Cards-->
          <router-outlet></router-outlet>
            
    
        </div>
      </div>
    </div>
    
    </body>





    <!-- <router-outlet></router-outlet> -->
  </div>
  
  
